@model HRTechAPI.Entities.Personel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Personel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotografYolu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotografYolu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soyad2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soyad2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DogumTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DogumTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TcNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TcNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IseGirisTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IseGirisTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IstenCikisTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IstenCikisTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aktiflik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aktiflik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meslek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meslek.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departman.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sirket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sirket.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
